.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 100vh;
    background: indigo;
    color: white;
}

.grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 500px;
}

.grid button {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 33.33%;
    height: 33.33%;
    color: white;
    font-weight: bolder;
    background: none;
    border: 3px solid white;
    transition-duration: 0.3s;
}

.grid button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.grid img {
    width: 50px;
    height: 50px;
}

.container .text {
    margin: 30px;
}
